@*
    //Author: Gustavo Moises (Developer)
    //Date: 8/7/2020
    //Thead Project PROJ—207-OOS
*@
@model TableReady.Core.App.Models.ResCustomerModelView

@{
    ViewData["Title"] = "ReservationEdit";
}
<div id="Error" style="color: red;">
    <p>@ViewBag.ErrorMessage</p>
</div>
<div id="Error" style="color: blue;">
    <p>@ViewBag.Message</p>
</div>
<h3>Edit Reservation</h3>
<hr />
<br />
<div>
    <h4>ResCustomerModelView</h4>
    <br />
    @using (Html.BeginForm())
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationDate_new)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.ReservationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartySize)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.PartySize)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EntryOrigin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EntryOrigin)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </dt>
            <dd class="col-sm-10">
                <select asp-for="ReservationStatus" asp-items="ViewBag.ReservationStatus"></select>
            </dd>
            @Html.HiddenFor(model => model.ReservationEntryId)
            <dt class="col-sm-2"><input type="submit" value="Update" class="btn btn-primary" /></dt>
            <dd class="col-sm-10"></dd>
        </dl>
    }
</div>
<div>
    <a class="btn btn-dark" asp-action="ReservationManage">Back to List</a>
</div>
