@*
    //Author: Gustavo Moises (Developer)
    //Date: 8/7/2020
    //Thead Project PROJ—207-OOS
*@
@model IEnumerable<TableReady.Core.App.Models.RecordModelView>

@{
    ViewData["Title"] = "Reservations";
}

<h4>Reservations</h4>
<hr />
<br />
<div>
    @await Component.InvokeAsync("CustomerReservations", ViewBag.CustomerID)
</div>
<h4>Waitlist</h4>
<hr />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryOrigin)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartySize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "WaitlistHistoryDetails", new { id = item.Id }, new { @class = "btn btn-primary mx-1" })
                </td>

            </tr>
        }
    </tbody>
</table>
