@*
    //Author: Gustavo Moises (Developer)
    //Date: 8/7/2020
    //Thead Project PROJ—207-OOS
*@
@model IEnumerable<TableReady.Core.App.Models.ResCustomerModelView>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartySize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "ReservationHistoryDetails", new { id = item.ReservationEntryId }, new { @class = "btn btn-primary mx-1" })
                </td>
            </tr>
        }
    </tbody>
</table>

